.footer__link {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #fff;
  transition: opacity 0.5s;
}

.footer__link:hover {
  opacity: 0.8;
}
