.place__paragraph {
  margin: 0 auto;
  padding-left: 40px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media (max-width: 1279px) {
  .place__paragraph {
    padding-left: 32px;
  }
}

@media (max-width: 1023px) {
  .place__paragraph {
    padding-left: 28px;
    font-size: 16px;
  }
}
