.footer__copyright {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .footer__copyright {
    margin-top: 46px;
    line-height: 100%;
  }
}
