.place__img {
  max-width: 460px;
}

@media (max-width: 1279px) {
  .place__img{
    max-width: 440px;
  }
}

@media (max-width: 1023px) {
  .place__img{
    max-width: 340px;
  }
}

@media (max-width: 690px) {
  .place__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    margin-bottom: 32px;
  }
}
