.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    margin-top: 16px;
  }
}
