.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  position: relative;
  padding-left: 48px;
  padding-right: 48px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin-top: 66px;
  }
}
