.cover__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
  z-index: 2;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
  }
}
