.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, max-content));
  margin-top: 80px;
}

@media (max-width: 1023px) {
  .place {
    margin-top: 73px;
  }
}

@media (max-width: 690px) {
  .place {
    display: block;
    margin-top: 50px;
  }
}
