.cover__text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1184px;
  justify-content: center;
  margin: 0 auto;
  aspect-ratio: 15.98/9.98;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 320px) {
  .cover__text-container {
    max-width: 288px;
  }
}
